/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark tech */
    color: #e0e0e0;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #00ffcc; /* toque tecnológico */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #00ffcc;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.easter-egg {
    color: #00ffcc;
    cursor: pointer;              /* CLAVE: mano de clic */
    position: relative;
    transition: color 0.2s ease;
}

/* Efecto hover */
.easter-egg:hover {
    color: #ffffff;
}

/* Micro-hint visual */
.easter-egg::after {
    content: " ◉";
    font-size: 0.7rem;
    opacity: 0.4;
    transition: opacity 0.2s ease;
}

/* El hint se refuerza al hover */
.easter-egg:hover::after {
    opacity: 1;
}

/* Secciones */
section {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* Proyectos */

.project-card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    margin: 0px 100px 30px 100px;
    min-height: 300px;
    transition: transform 0.2s;
    border: 4px solid #00ffcc;

    display: flex;          
    flex-direction: column;  
    align-items: center;     
    text-align: center; 
    justify-content: center;    
}

.project-img {
    max-width: 100%;    
    height: auto;        
    border-radius: 10px;
    margin-bottom: 30px;
}


.project-card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #888;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: invert(75%) sepia(20%) saturate(500%) hue-rotate(160deg);
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Toast */

.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #1a1a1a;
    color: #00ffcc;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid #00ffcc;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hidden {
    pointer-events: none;
}